.position {
    position: fixed !important;
     top: 222px;
    /*left: 219px !important; */
    z-index: 20;
}
.menu {
    /* border: 1px solid black !important; */
    /* height: 80px; */
    display: flex;
    align-items: center;
    font-family: "Open Sans" !important;
    font-size: 13px;
    color: black !important;
    cursor: pointer;
    padding: 0px 12px;
    font-weight: 600;
    width: 100% !important;
}
.css-18ped5m{
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    width: 310px !important;
}
.signInBtn{
    width: 338px;
    height: 58px;
    border: none;
    text-decoration: none;
    border-radius: 12px 12px 12px 12px;
    background-color: #0020A2;
    color: white;
    font-size: 20px;
    font-family: 'SharpSans2';
}
