.navLogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto
}

.logoImg {
    width: 370px;
    height: 100px;

}

.navContact {
    display: flex;
    height: 120px;
}

.navContact img {
    height: 50%;
    /* width: 50%; */
}

.contactCol {
    display: flex !important;
    align-items: center !important;
}

@media screen and (max-width: 596px) {
    .headerTopL{
        width: 70% !important;
        font-size: 14px;

    }
    .headerTopR{
        font-size: 14px;

        width: 30% !important;
    }
  }
@media screen and (max-width: 470px) {
    .headerTopL{
        font-size: 12px;
    }
    .headerTopR{
        font-size: 12px;
        
    }
  }
  @media screen and (max-width: 380px) {
    .headerTopL{
        font-size: 10px;
    }
    .headerTopR{
        font-size: 10px;
        
    }
  }
 