.featureRow{
    margin: auto !important;
    display: flex !important;
    align-items: center !important;
    width: 82%;
}
.featureCard{
    border-radius: 8px;
    box-shadow: 3px 5px 6px #969595, 0px -2px 11px #969494;
    /* height: 328px; */
}