/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

/* 
@font-face {
    font-family: 'SharpSansBold';
    src: url(./assests/Fonts/SharpSansBold.otf)
        } */
@font-face {
    font-family: 'SharpSans1';
    src: url(./assests/Fonts/samsungsharpsans.otf)
}

@font-face {
    font-family: 'SharpSans2';
    src: url(./assests/Fonts/samsungsharpsans-medium.otf)
}

@font-face {
    font-family: 'SharpSansBold';
    src: url(./assests/Fonts/samsungsharpsans-bold.otf)
}



/* Navbar */
.headerTop {
    font-size: 12px;
    font-family: 'SharpSans1';
    cursor: pointer;


}

.navContactNum {
    color: #0020A2;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Roboto';

}

.navContactText {
    font-weight: 700;
    font-family: 'Roboto';
    cursor: pointer;

}


/* Menu  */
.menu span {
    cursor: pointer;
    font-weight: 700;
    font-family: 'open sans' !important;
}

/*Banners */
/* .bannerHeigth{
    border: dotted;
    height: 280px !important;
} */
.carousel-item  img { 
    height: 550px ;
    width: 100% !important; 
  }


  /* SignUP modal */

  .inputFeild{
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    margin-bottom: 8px;
    border: 1px solid lightgrey;
  }


@media screen and (max-width:840px) {
    .carousel-item  img { 
        height: 435px !important;
        width: 100% !important; 
      }
}

@media screen and (max-width:585px) {
    .carousel-item  img { 
        height: 335px !important;
        width: 100% !important; 
      }
}

@media screen and (max-width:452px) {
    .carousel-item  img { 
        height: 235px !important;
        width: 100% !important; 
      }
}

