.serviceBox {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    border: "1px solid black"

}

.creativeBtn {
    text-decoration: none;
    outline: none;
    border: none;
    padding: 12px 14px !important;
    font-family: 'sharpsans1';
    background: #005f9e !important;
    color: white;
    font-weight: 600 !important;
}

.designImg {
    max-width: 320px;
}

@media screen and (max-width:1200px) {
    .separationLine {
        border: 2px solid blue;
        display: none !important;
    }

    .serviceBox {
        margin-top: 14px !important;
    }

    .visionImg {
        width: 300px !important;
    }
}